.item-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-color: aquamarine;
  border-style: none;
  padding: 10px 15px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, background 0.2s ease-in;;

  max-height: 110px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-down {
  cursor: pointer;
}