.scroll-list-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  transition: right 0.4s ease-in-out;
  z-index: 9990;
}

.backdrop {
  width: calc(100vw - 580px);
  background-color: black;
  transition: opacity 0.5s ease-in-out;
  opacity: 70%;
  cursor: pointer;
}

.scroll-list {
  width: 580px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #42607b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.scroll-list-header {
  padding: 5px;
  margin: 0;
  background-color: #42607b;
}

.scroll-list-header-title {
  margin: 14px;
  font-size: 32px;
  font-weight: lighter;
}

.scroll-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.scroll-list li {
  text-align: left;
  padding: 5px 40px;
  font-size: 32px;
  font-weight: lighter;
}

.scroll-list li:last-child {
  border-bottom: none;
}
